<link rel="stylesheet" href="/css/dashboard.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<!-- Nav Bar Bootstrap -->
<nav class="navbar navbar-default" role="navigation" style="background-color: #272B30; border: #272B30;">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <a class="navbar-brand" href="/dashboard" style="color: #fff; font-size: 20px;">MyGamesList</a>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
        
        <ul class="nav navbar-nav navbar-left">
            <li><a href="/dashboard" style="color: #fff; font-size: 20px;" class="active">Home</a></li>
            <li><a href="/friends" style="color: #fff; font-size: 20px;">Friends</a></li>
            <li><a href="/games" style="color: #fff; font-size: 20px;">Games</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color: #fff; font-size: 20px;"><%= name %> <b class="caret"></b></a>
            <ul class="dropdown-menu">
            <li><a href="#">Profile</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Settings</a></li>
            <li class="divider"></li>
            <li><a href="/users/logout">Logout</a></li>
            </ul>
        </li>
        </ul>
    </div>
</nav>

<!-- Main Article Feed -->
<div class="container" id="polygonOutputDiv" style="color: #fff;">
    <h1 id="feedNum"></h1><br>
</div>

<!-- Second Articles Feed-->
<div class="container" id="otherArticlesDiv">
    <div class="slider" id="slider">
        <h1 style="text-align: left; color: #fff; margin-left: 1.5%;">Other Articles</h1>
    </div>
</div>

<!-- Games Tab on Dashboard -->
<div class="container" id="gameOutputDiv">
    <div class="slider2" id="slider2">
        <h1 style="text-align: left; color: #fff; margin-left: 1.25%;">Popular Games Right Now</h1>

        <div class="slides">
            <% for(var i=0; i < parsedResponse.length; i++) { %>
                <div class="slides2">
                    <div class="imgDescriptionWrapper">
                        <% if (parsedResponse[i].hasOwnProperty('cover')) { %>
                            <img src="<%= parsedResponse[i].cover.url.replace('t_thumb', 't_cover_big') %>">
                        <% } else { %>
                            <img src="http://photos1.blogger.com/blogger/3775/2528/1600/%20COVER%20NOT%20AVAILABLE-NO%20TIME%20TO%20FIND.jpg">
                        <% } %>
                        <div class="imgDescription">
                            <p style="width: 70%; font-size: 25px;" class='img_description_text'><%= parsedResponse[i].name %><br><button onclick="createModal(<%= i %>);" id="myBtn" class="viewMoreBtn">View More</button></p>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>

    </div>
</div>

<!-- Modal -->
<div id="modal-ID" class="w3-modal">
    <% for(var i=0; i < parsedResponse.length; i++) { %>
        <div class="w3-modal-content" style="border-radius: 10px; display: none;" id="<%= i %>">
            <div class="w3-container">
                <span onclick="document.getElementById('<%= i %>').style.display='none'; document.getElementById('modal-ID').style.display='none';" class="w3-button w3-display-topright" style="border-radius: 10px;">&times;</span>

                <% if (parsedResponse[i].hasOwnProperty('cover')) { %>
                    <img class="contentCover" src="<%= parsedResponse[i].cover.url.replace('t_thumb', 't_1080p') %>"> 
                <% } else { %>
                    <img class="contentCover" src="http://photos1.blogger.com/blogger/3775/2528/1600/%20COVER%20NOT%20AVAILABLE-NO%20TIME%20TO%20FIND.jpg">
                <% } %>
                
                <div class="contentName">
                    <h1><%= parsedResponse[i].name %></h1>
                    
                    <% if (parsedResponse[i].hasOwnProperty('involved_companies')) { %>
                        <p>By:
                            <% for(let j = 0; j < parsedResponse[i].involved_companies.length; j++) { %>
                                <%= parsedResponse[i].involved_companies[j].company.name %>,
                            <% } %>
                        </p>
                    <% } else { %>
                        <p>By: Unknown</p>
                    <% } %>

                    <% if (parsedResponse[i].hasOwnProperty('release_dates')) { %>
                        <p>Release Date: <%= parsedResponse[i].release_dates[0].human %></p>
                    <% } else { %>
                        <p>Release Date: Unknown</p>
                    <% } %>

                    <% if (parsedResponse[i].hasOwnProperty('summary')) { %>
                        <h2>Summary:</h2>
                        <p><%= parsedResponse[i].summary %></p>
                    <% } %>
                </div>

                <div class="contentPlatforms">
                    <% if (parsedResponse[i].hasOwnProperty('platforms')) { %>
                        <h2>Platforms:</h2>
                        <% for(let j = 0; j < parsedResponse[i].platforms.length; j++) { %>
                            <p><%= parsedResponse[i].platforms[j].name %></p>
                        <% } %>
                    <% } %>
                </div>

                <div class="contentGenres">
                    <% if (parsedResponse[i].hasOwnProperty('genres')) { %>
                        <h2>Genres:</h2>
                        <% for(let j = 0; j < parsedResponse[i].genres.length; j++) { %>
                            <p><%= parsedResponse[i].genres[j].name %></p>
                        <% } %>
                    <% } %>
                </div>

                <% if (parsedResponse[i].hasOwnProperty('screenshots')) { %>
                    <div class="slider2" id="slider2">
                        <h2 style="text-align:left;">Screenshots:</h2>
                        <div class="slides">
                            <% for(let j = 0; j < parsedResponse[i].screenshots.length; j++) { %>
                                <div class="slides2">
                                    <div class="imgDescriptionWrapper">
                                        <img src="<%= parsedResponse[i].screenshots[j].url.replace('t_thumb', 't_1080p') %>">
                                    </div>
                                </div>
                            <% } %>
                        </div>
                    </div>
                <% } %>

                <% if (parsedResponse[i].hasOwnProperty('similar_games')) { %>
                    <div class="slider2" id="slider2">
                        <h2 style="text-align:left;">Similar Games:</h2>
                        <div class="slides">
                            <% for(let j = 0; j < parsedResponse[i].similar_games.length; j++) { %>
                                <div class="slides2">
                                    <% if (parsedResponse[i].similar_games[j].hasOwnProperty('cover')) { %>
                                        <div class="imgDescriptionWrapper">
                                            <img src="<%= parsedResponse[i].similar_games[j].cover.url.replace('t_thumb', 't_1080p') %>">
                                            <div class="imgDescription">
                                                <p  style='font-size: 25px;' class='img_description_text'><%= parsedResponse[i].similar_games[j].name %></p>
                                            </div>
                                        </div>
                                    <% } %>
                                </div>
                            <% } %>
                        </div>
                    </div>
                <% } %>

                    

            </div>
        </div>
    <% } %>
</div>

<script src="/scripts/dashboard.js"></script>
<script src="/scripts/polygon.js"></script>
<script src="/scripts/ign.js"></script>

<script>
    function createModal(index) {
        document.getElementById('modal-ID').style.display='block';
        document.getElementById(index).style.display='';
    }
</script>